<!DOCTYPE html>
<html ng-App="meuModulo">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Angular JS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   

    <!-- angular -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- jquery materialize -->
    <script type="text/javascript" src="js/materialize/init.js"></script>   
    <script src="./angular/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers.js"></script>
 
</head>

<body ng-controller="indexController">


    <header class="container">
        <div class="row">
            <h2 ng-bind="titulo"> </h2>
        </div>
      
    </header>

    <main class="container">
        <!-- campo de busca: -->
        <div class="row">
            <input type="text" ng-model="busca.nome" placeholder="Busca">
        </div>

        <!-- tabela: -->
        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome </th>
                        <th>E-mail </th>
                        <th>Nota 1 </th>
                        <th>Nota 2 </th>
                        <th>Nota 3</th>
                        <th>Média</th>
                        <th>Ação</th>


                    </tr>


                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos | filter:busca">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota1}}</td>
                        <td>{{aluno.nota2}}</td>
                        <td>{{aluno.nota3}}</td>
                        <td>{{aluno.media}}</td>
                        <!-- <td> <button ng-click="editarAluno(aluno)" class="btn blue">Editar</button></td> -->
                        <!-- <td><a ng-click="editarAluno(aluno)"class="waves-effect waves-light btn blue">button</a></td> -->
                        <td><a ng-click="editarAluno(aluno)"class="waves-effect waves-light btn modal-trigger btn blue" href="#modal1">Editar</a> </td>
                        <td><a ng-click="deletarAluno(aluno)"class="waves-effect waves-light btn red">Deletar</a> </td>
                    </tr>

                </tbody>
                    <!-- botao: -->
                <div class="row">
                    <!-- modal -->
                    <a ng-click="abreAddAluno()" class="waves-effect waves-light btn modal-trigger" href="#modal1">Adicionar</a> </div>


            </table>

        </div>

       

    </main>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 ng-if="!editando">Adicionar Aluno </h4>
            <h4 ng-if="editando">Editar Aluno </h4>
            <p>Preencha os dados do Aluno</p>

            <!-- criação dos inputs: -->
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" ng-model="Aluno.nome" class="validate" placeholder="Nome">
                 
                </div>
                <!-- {{Aluno}} -->
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" ng-model="Aluno.email" placeholder="E-mail">
                  
                </div>
                <div class="input-field col m4 s12">
                    <input type="text" class="validate" ng-model="Aluno.nota1" placeholder="Nota:1">
          
                </div>
                <div class="input-field col m4 s12">
                    <input type="text" class="validate" ng-model="Aluno.nota2" placeholder="Nota 2">
                    
                </div>
                <div class="input-field col m4 s12">
                    <input type="text" class="validate" ng-model="Aluno.nota3" placeholder="Nota 3">
                   
                </div>

            </div>

        </div>
        <!-- botoes do Modal -->
        <div class="modal-footer">         
            <a ng-if="!editando" ng-click="addAluno(Aluno)" class="modal-close waves-effect waves-light btn blue">Adicionar</a>
            <a ng-if="editando" ng-click="salvarAluno(Aluno)" class="modal-close waves-effect waves-light btn blue">Salvar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>

        </div>
    </div>   

</body>

</html>